$rhap-theme-color: white !default; // Color of all buttons and volume/progress indicators
$rhap-background-color: black !default; // Color of the player background
$rhap-bar-color: #78716c!default; // Color of volume and progress bar
$rhap-time-color: white !default; // Font color of current time and duration
$rhap-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !default; // Font family of current time and duration

@import 'react-h5-audio-player/src/styles.scss';